:root {
  --color-primary-blue: #339af0;
  --color-primary-shade: #3e89c6;
  --color-primary-button-active: #1864ab;

  --color-grey-dark: #333;
  --color-grey-light: #555;

  --color-error: #f03e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--color-grey-dark);
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
  max-width: 120rem;
  margin: 0 auto;
}
